/* html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,aside,figcaption,figure,footer,header,main,nav,section {
    display: block
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit;
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,input,optgroup,select,textarea {
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],template {
    display: none
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

body {
    font-family: Helvetica,STHeiti,Microsoft YaHei,Verdana,Arial,Tahoma,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit
}

ol,ul {
    list-style: none
}

input {
    width: 100%;
    border: 1px solid #bbb;
    padding: 0 10px;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    color: #333;
}

input::-moz-placeholder {
    color: #aaa;
}

input::-webkit-input-placeholder {
    color: #aaa;
} */

.jui-mask {
    background-color: rgba(0,0,0,.6);
}

.jui-alert {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2100;
    padding: 5px;
    color: #eee;
    border-radius: 10px;
}

.jui-pop-box {
    position: relative;
    text-align: initial;
    background-color: #fff;
    border-radius: 4px;
    min-width: 360px;
    padding: 20px;
    font-size: 14px;
    white-space: normal;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1)
}

.jui-hd {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    margin-bottom: 20px;
}

.jui-text-center {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #333;
}

.jui-bd {
    color: #666;
}

.jui-error-tips {
}

.jui-roller-btns {
    margin: 30px 0 0;
    text-align: right;
}

.jui-roller-btns .jui-btns {
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 12px;
    color: #333;
    background: #fff;
    border: 1px solid #bbb;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.jui-loading {
    position: absolute;
    left: 50%;
    top: 50%;
}
.jui-loading .jui-layer-padding {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.jui-loading-content {
    width: 64px;
    height: 64px;
    background: url(../images/loading.gif)  no-repeat;
}

.jui-toast {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    background: #396;
    color: #fff;
    text-align: center;
}

.jui-slider_wrap {
    position:relative;
}

.jui-slider_content {
    position: relative;
    width: 300px;
    overflow: hidden;
    margin: 48px auto;
    overflow: hidden
}

.jui-slider_arrowLeft {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 3px solid #099fde;
    border-right: 3px solid #099fde;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.jui-slider_arrowRight {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #099fde;
    border-right: 3px solid #099fde;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.jui-slider {
    position: relative;
    width: 3000px;
    overflow: hidden
}

.jui-slider figure {
    float: left;
    width: 300px;
    text-align: center;
    overflow: hidden
}

.jui-slider figcaption {
    letter-spacing: 1px;
    line-height: 60px
}

.jui-slider-loading {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    margin: -24px 0 0 -24px;
    background: url(../images/slider-loading.gif) no-repeat;
}

.jui-slider_bar {
    position: absolute;
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
}

.jui-slider_prev,.jui-slider_next {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px
}

.jui-slider_prev {
    left: 5px
}

.jui-slider_next {
    right: 5px
}

.jui-slider_prev:before,.jui-slider_next:before {
    position: absolute;
    content: "";
    top: 5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.jui-slider_prev:before {
    left: 7px;
    border-right: 12px solid #fff
}

.jui-slider_next:before {
    right: 7px;
    border-left: 12px solid #fff
}

.jui-switch {
    position: relative;
    width: 44px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 24px;
    background-color: #ccc;
    cursor: pointer;
    -webkit-transition: 200ms background-color ease-in;
    -moz-transition: 200ms background-color ease-in;
    transition: 200ms background-color ease-in
}

.jui-switch.current {
    background-color: #099fde
}

.jui-switch .jui-switch-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 24px;
    border-radius: 24px;
    background-color: #ccc;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    transform-origin: center center;
    -webkit-transition: 200ms -webkit-transform ease-in;
    -moz-transition: 200ms -moz-transform ease-in;
    transition: 200ms transform ease-in
}

.jui-switch .jui-switch-bg.current {
    width: 44px;
    height: 24px;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    transform: scale(0,0)
}

.jui-switch .jui-switch-scroll {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 21px;
    height: 22px;
    border-radius: 22px;
    background-color: #fff;
    -webkit-transition: 200ms width ease-in,200ms left ease-in,200ms right ease-in;
    -moz-transition: 200ms width ease-in,200ms left ease-in,200ms right ease-in;
    transition: 200ms width ease-in,200ms left ease-in,200ms right ease-in
}

.jui-switch.current .jui-switch-scroll {
    left: 21px;
    right: 1px
}

.jui-switch .jui-switch-scroll.wide {
    left: 2px;
    right: 14px
}

.jui-switch.current .jui-switch-scroll.wide {
    left: 14px;
    right: 1px
}


.clear-input {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0!important;
    right: 0!important;
    width: 30px;
    height: 100%
}

.clear-input span {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    top: 50%!important;
    left: 50%;
    margin: -8px 0 0 -8px;
    background: #b1b1b1
}

.clear-input-box input{
    width: 100%;
    border: 1px solid #bbb;
    padding: 0 10px;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    color: #333;
}

.clear-input span:before,.clear-input span:after {
    position: absolute;
    content: "";
    top: 4px;
    left: 7px;
    width: 2px;
    height: 8px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.clear-input span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.placeholder-title {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #aaa;
}
.input-wrap {
    border-color: #e5e5e5;
    background-color: #f8f8f8;
    cursor: not-allowed;
    color: #cacaca;
}

.clear-input-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid #bbb;
    display: inline-block;
    position: relative;
    width: 260px;
    border-radius: 2px;
}
.clear-input-box input {
    border: none;
}